* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
}

.header {
    position: fixed;
    top: 0;
    height: 70px;
    background-color: #035f86;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
    box-shadow: 0px 1px 2px #00ff26;
    padding: 10px 100px;
}

#logoutBtn {
    height: 40px;
    width: 100px;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1ecc7b;
    box-shadow: 2px 2px 10px #04E17A;
    font-size: 16px;
    font-weight: bold;
}
.logo{
    color: #04E17A;
    font-size: 24px;
    font-weight: bold;
}
#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logg {
    margin-bottom: 40px;
}

.login {
    width: 400px;
    height: 350px;
    border-radius: 12px;
    border: 1px solid #035f86;
    box-shadow: 2px 5px 20px #035f86;
}

.login .login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    padding: 25px;
}

input {
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: whitesmoke;
    background-color: #1C4759;
    font-size: 15px;
}

.login-form input::placeholder {
    color: whitesmoke;
    font-size: 15px;
}

.login-form button {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    color: white;
    border: none;
    background-color: #1ecc7b;
    border: 1px solid #04E17A;
    border-radius: 10px;
    transition: 0.5s;
}


.login-form button:hover {
    color: #04E17A;
    background-color: transparent;
}

.login-form h4 {
    color: white;
}

.login-form a {
    color: #04E17A;
}

.login-form input:focus,
select:focus {
    border: 1px solid #04E17A;
}

.error {
    display: none;
    padding: 10px 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 8px;
}





.stat-card {
    background: #1e1e1e;
    border: 1px solid #ff5500;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    color: white;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
} 